[Desktop Entry]
Type=Application
Name=DoXsearch
Comment=Search text in DOCX, ODT, PDF and text files
Exec=doxsearch
Icon=doxsearch
Terminal=false
Categories=Utility;Office;
